<h2 style="color:#00ffff;font-size:30px;">LIST</h2>

In [ ]:
#List methods

In [1]:
lst =[4, 5, "nirmal", 555.5, "python", "data analytics"]
lst

[4, 5, 'nirmal', 555.5, 'python', 'data analytics']

In [2]:
lst.insert(3, 35)
lst

[4, 5, 'nirmal', 35, 555.5, 'python', 'data analytics']

In [7]:
lst.append("tableau")
lst

[4, 5, 'nirmal', 555.5, 'python', 'data analytics', 'tableau']

In [8]:
lst.pop()
lst

[4, 5, 'nirmal', 555.5, 'python', 'data analytics']

In [9]:
lst.remove(4)
lst

[5, 'nirmal', 555.5, 'python', 'data analytics']

In [10]:
lst.extend(["tableau","power Bi", "Excel"])
lst

[5,
 'nirmal',
 555.5,
 'python',
 'data analytics',
 'tableau',
 'power Bi',
 'Excel']

In [11]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
l1.append(l2)
l1

[1, 2, 3, 4, 5, 6, 7, 8, [5, 6, 7, 8]]

In [13]:
lst

[5,
 'nirmal',
 555.5,
 'python',
 'data analytics',
 'tableau',
 'power Bi',
 'Excel']

In [14]:
lst.reverse()
print(lst, end="")

['Excel', 'power Bi', 'tableau', 'data analytics', 'python', 555.5, 'nirmal', 5]

In [15]:
len(lst)

8

In [16]:
lst.index("nirmal")

6

In [17]:
lst.clear()

In [18]:
lst

[]

<h2 style="color:#00ffff;font-size:30px;">Tuple</h2>

In [1]:
#create an empty tuple
tup = ()
tup

()

In [2]:
len(tup)

0

In [3]:
tup1 = ("nirmal", 33, "nanthini", 35, "apple", 25.5, 93.5)
tup1

('nirmal', 33, 'nanthini', 35, 'apple', 25.5, 93.5)

In [4]:
#Tuples Indexing

tup1[3]

35

In [5]:
tup1[:4]

('nirmal', 33, 'nanthini', 35)

In [6]:
tup1[4:]

('apple', 25.5, 93.5)

In [7]:
tup1[::-1] #reverse

(93.5, 25.5, 'apple', 35, 'nanthini', 33, 'nirmal')

In [8]:
#tuple mutability 
tup1[5]="banana"
tupl

TypeError: 'tuple' object does not support item assignment

In [10]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
julia

('Julia',
 'Roberts',
 1967,
 'Eat Pray Love',
 2010,
 'Actress',
 'Atlanta, Georgia')

In [2]:
nirmal = ("Nirmal", 27, "B.E")  # tuple packing
(name, age, dgree) = nirmal  # tuple unpacking
print(name)
print(age)
print(dgree)

Nirmal
27
B.E

In [11]:
tup1 = ("nirmal", 33, "nanthini", 35, "apple", 25.5, 93.5, 25.5, 93.5, 93.5)
tup1

('nirmal', 33, 'nanthini', 35, 'apple', 25.5, 93.5, 25.5, 93.5, 93.5)

In [12]:
x = tup1.count(93.5) #Return the number of times the value 93.5 appears in the tuple
x

3

In [14]:
tup1.index(25.5) #Search for the first occurrence of the value 25.5, and return its position

5

<h2 style="color:#00ffff;font-size:30px;">Dictionary</h2>

1. Dictionary consists of key-value pairs.
2. It is enclosed by curly braces {}
3. values can be assigned and accessed using square brackets[].
4. Dictionary in Python is a collection of unordered values

In [16]:
dic = {"name" : "Nirmal", "age" : 27, "name" : "Naveen", "age" : 24} #Key is unique
print(dic)

{'name': 'Naveen', 'age': 24}

In [18]:
dic1 = {"name1" : "Nirmal", "age1" : 27, "name2" : "Naveen", "age2" : 24}
print(dic1)

{'name1': 'Nirmal', 'age1': 27, 'name2': 'Naveen', 'age2': 24}

In [19]:
dic1.keys()

dict_keys(['name1', 'age1', 'name2', 'age2'])

In [20]:
dic1.values()

dict_values(['Nirmal', 27, 'Naveen', 24])

In [21]:
dic1["name1"]

'Nirmal'

In [23]:
del dic1["name2"] #only key is delete option values cannot be deleted
dic1

{'name1': 'Nirmal', 'age1': 27, 'age2': 24}

In [26]:
dict([("one", 1), ("two", 2), ("three", 3)])

{'one': 1, 'two': 2, 'three': 3}

In [32]:
{x: x**3 for x in (1,2,3,4,5)} #dict comprehensions

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [34]:
dict(A = 1, B = 2, C = 3, D = 4) #pairs using keyword arguments

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [35]:
letters = {'A': 1, 'B': 2, 'C': 3, 'D': 4}

for i,j in letters.items():
    print(i,j)

A 1
B 2
C 3
D 4

In [ ]:
#Dictionary methods

In [47]:
laptop = {"brand" : "dell", "Model":"inspiron", "processor" : "I5", "ram":8, "price":60000}

y=laptop.copy() #Copy the laptop dictionary
y

{'brand': 'dell',
 'Model': 'inspiron',
 'processor': 'I5',
 'ram': 8,
 'price': 60000}

In [40]:
x = ("key1", "key2", "key3", "key4") 
y = 0

z = dict.fromkeys(x,y)
z

{'key1': 0, 'key2': 0, 'key3': 0, 'key4': 0}

In [41]:
laptop.get("processor") #The get() method returns the value of the item with the specified key.

'I5'

In [44]:
laptop.items() #The view object contains the key-value pairs of the dictionary, as tuples in a list.

dict_items([('brand', 'dell'), ('Model', 'inspiron'), ('processor', 'I5'), ('ram', 8), ('price', 60000)])

In [48]:
laptop.pop("Model") #removes the specified item from the dictionary.
laptop

{'brand': 'dell', 'processor': 'I5', 'ram': 8, 'price': 60000}

In [49]:
laptop.popitem() #removes the item that was last inserted into the dictionary
laptop

{'brand': 'dell', 'processor': 'I5', 'ram': 8}

In [53]:
laptop = {"brand" : "dell", "Model":"inspiron", "processor" : "I5", "ram":8, "price":60000}

x = laptop.setdefault("processor", "Intel I5 11th gen") 
x #method returns the value of the item with the specified key

'I5'

In [54]:
laptop.update({"model no":5401, "size":"14 inch"}) #inserts the specified items to the dictionary.
laptop

{'brand': 'dell',
 'Model': 'inspiron',
 'processor': 'I5',
 'ram': 8,
 'price': 60000,
 'model no': 5401,
 'size': '14 inch'}

In [55]:
laptop.clear() #Removes all the elements from the dictionary
laptop

{}

<h2 style="color:#00ffff;font-size:30px;">set</h2>

1. Sets are used to store multiple items in a single variable.
2. A set is a collection which is unordered, unchangeable*, and unindexed.
3. Set items are unchangeable, but you can remove items and add new items.
4. Sets are written with curly brackets.
5. Duplicates Not Allowed

In [56]:
set1 = {"apple", "banana", "cherry", "apple"} #Duplicates Not Allowed
set1

{'apple', 'banana', 'cherry'}

In [57]:
len(set1)

3

In [59]:
set2 = {"john", 34, True, 40, "male"}
set2

{34, 40, True, 'john', 'male'}

In [61]:
set3 = {1, 5, 7, 9, 3} #ordered
set3

{1, 3, 5, 7, 9}

In [62]:
type(set3)

set

In [63]:
set4 = set(("apple", "banana", "cherry",))
set4

{'apple', 'banana', 'cherry'}

In [ ]:
# set Methods

In [64]:
fruits = {"apple", "banana", "mango", "cherry"}

fruits.add("orange") #adds an element to the set.
fruits

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [66]:
x = {1,2,3,4,5,6}
y = {5,6,7,8,9,10}

z = x.difference(y) #returns a set that contains the difference between two sets
print(z)

{1, 2, 3, 4}

In [67]:
z = y.difference(x)
z

{7, 8, 9, 10}

In [69]:
x.difference_update(y) #removes the items that exist in both sets.
print(x)

{1, 2, 3, 4}

In [70]:
x.discard(4) #removes the specified item from the set.
x

{1, 2, 3}

In [71]:
x1 = {"apple", "banana", "cherry"}
y1 = {"google", "microsoft", "apple"}

z = x1.intersection(y1) #returns a set that contains the similarity between two or more sets
z

{'apple'}

In [76]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y) #True if none of the items are present in both sets, otherwise it returns False
z

True

In [77]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) #True if all items in the set exists in the specified set, otherwise it retuns False
z

True

In [79]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
#True if all items in the specified set exists in the original set, otherwise it retuns False.
z = x.issuperset(y)
z

True

In [80]:
z = y.issuperset(x)
z

False

In [81]:
x.remove("f")
x

{'a', 'b', 'c', 'd', 'e'}

In [82]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)
z

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [83]:
x.update(y) 
x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [84]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
z

{'banana', 'cherry', 'google', 'microsoft'}